.input {
    width: 600px;
    height: 50px;
    position: relative;
    font-size: 1.5rem;
    padding: 0 30px;
}


.box {
    width: 600px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: linear-gradient(to bottom right, rgba(245, 247, 236, 0.034), rgba(187, 255, 249, 0.479));
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.box button {
    display: inline-block;
    height: 2rem;
    background-color: rgba(245, 247, 236, 0.034);
    border-radius: 25px;
    margin: 0 0.1rem
}

.paragh, .paragh > * {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-content: center;
    font-size: small;
    margin: 0 10px
}

.disabled, .disabled > * {
    text-decoration: line-through;
    color: lightgrey;
    margin: 0 10px;
}

.mauto {
    margin: 0; 
    text-align: center;
}