.input {
    width: 600px;
    height: 50px;
    position: relative;
    font-size: 1.5rem;
    padding: 0 30px;
}


.box {
    width: 600px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: linear-gradient(to bottom right, rgba(245, 247, 236, 0.034), rgba(187, 255, 249, 0.479));
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.paragh, .paragh > * {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: small;
    text-align: left;
}

.disabled, .disabled > * {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    text-decoration: line-through;
    color:rgba(192, 192, 192, 0.397)
}

.mauto {
    margin: 0; 
    text-align: center;
}